[filer.options]
recursive_delete = true


[redis3_sentinel]
enabled = true
addresses = [ "{{ vars.groups.servers | map('quote') | join(':26379", "') }}:26379"]
masterName = "mymaster"
username = ""
password = "{{ redis_pass }}"
database = 0

