bind {{ vars.ansible_eth1.ipv4.address }}

requirepass {{ redis_pass }}

masterauth {{ redis_pass }}

logfile /var/log/redis/redis.log

dir /var/lib/redis

protected-mode no

appendonly yes
{%if inventory_hostname != redis_master%}
replicaof  {{ redis_master }} 6379
{% endif %}